<h1>Listing measurement_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurement_types.each do |measurement_type| %>
      <tr>
        <td><%= measurement_type.name %></td>
        <td><%= link_to 'Show', measurement_type %></td>
        <td><%= link_to 'Edit', edit_measurement_type_path(measurement_type) %></td>
        <td><%= link_to 'Destroy', measurement_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measurement type', new_measurement_type_path %>
