    <center style="background-color: #DBDADA;">
    <div id="drop_container" style="width: 800px; height: 410px; ">
    </div>
  </center>
<div class="row blue-stripe" >
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <a href="#" class="btn btn-default btn-lg btn-block register-button">Register For Free</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <h1>Put your diabetes under control</h1>
        <p>
          Maecenas tristique sit amet mauris ut dictum. Aenean nec velit molestie, pretium orci sit amet, finibus dui. Mauris sollicitudin placerat lacus, porta sollicitudin mi faucibus sit amet. Nulla a porta lorem, a vulputate libero. Etiam justo arcu, iaculis vel egestas faucibus, gravida a tortor. Sed ac massa quis nisl pulvinar posuere vel vitae libero. Ut aliquam eu diam vel cursus. Aliquam vehicula sapien et nisl rutrum gravida sed quis purus. Suspendisse enim ligula, rhoncus eu nulla non, pulvinar imperdiet arcu. Phasellus rutrum diam ipsum, consequat elementum ipsum molestie at. Vivamus erat odio, tempor vitae magna eget, sollicitudin ullamcorper arcu. Nulla ut venenatis tellus. Sed non lorem dignissim, lacinia libero ac, dictum lacus. Nullam gravida purus quis elit ultricies iaculis.
        </p>
        <p>
          Aenean nec velit molestie, pretium orci sit amet, finibus dui. Mauris sollicitudin placerat lacus, porta sollicitudin mi faucibus sit amet. Nulla a porta lorem, a vulputate libero. Etiam justo arcu, iaculis vel egestas faucibus, gravida a tortor. Sed ac massa quis nisl pulvinar posuere vel vitae libero. Ut aliquam eu diam vel cursus. Aliquam vehicula sapien et nisl
        </p>
        <p>
          Pretium orci sit amet, finibus dui. Mauris sollicitudin placerat lacus, porta sollicitudin mi faucibus sit amet. Nulla a porta lorem, a vulputate libero. Etiam justo arcu, iaculis vel egestas faucibus, gravida a tortor. Sed ac massa quis nisl pulvinar posuere vel vitae libero. Ut aliquam eu diam vel cursus. Aliquam vehicula sapien et nisl
        </p>
        <p>
          <b>Mauris sollicitudin placerat lacus, porta sollicitudin mi faucibus sit amet. Nulla a porta lorem, a vulputate libero. Etiam justo arcu, iaculis vel egestas faucibus, gravida a tortor. Sed ac massa quis nisl pulvinar posuere vel vitae libero. Ut aliquam eu diam vel cursus. Aliquam vehicula sapien et nisl</b>
        </p>
      </div>
      <div class="col-md-1">
        <%= image_tag 'separator.png', style:"margin-top:100px" %>
      </div>
      <div class="col-md-4">
        <h1>Everything is free</h1>
        <p>
          Maecenas tristique sit amet mauris ut dictum. Aenean nec velit molestie, pretium orci sit amet, finibus dui. Mauris sollicitudin placerat lacus, porta sollicitudin mi faucibus sit amet. Nulla a porta lorem, a vulputate libero. 
        </p>
        <h1>Open Source Project</h1>
        <p>
          Maecenas tristique sit amet mauris ut dictum. <b>GPL License</b> Aenean nec velit molestie, pretium orci sit amet, finibus dui. Mauris sollicitudin placerat lacus, porta sollicitudin mi faucibus sit amet. Nulla a porta lorem, a vulputate libero. 
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
<%= form_tag("/inputs", method: "post") do %>
  Sugar:
  <%= number_field :input, :sugar, class: "form-control" %>
  <br>
  Insulin:
  <%= number_field :input, :insulin, step: 0.1, class: "form-control" %>
  <br>
  Food:
  <%= number_field :input, :food, step: 0.5, class: "form-control" %>
  <br>
  <%= datetime_select :input, :datetime %>
  <br>
  <%= submit_tag("Submit") %>
<% end %>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Type</th>
      <th>User</th>
      <th>Datetime</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurements.each do |measurement| %>
      <tr>
        <td><%= measurement.measurement_type_id %></td>
        <td><%= measurement.user_id %></td>
        <td><%= measurement.datetime %></td>
        <td><%= measurement.value %></td>
        <td><%= link_to 'Show', measurement %></td>
        <td><%= link_to 'Edit', edit_measurement_path(measurement) %></td>
        <td><%= link_to 'Destroy', measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= form_tag("/measurements", method: "get") do %>
  <%= date_select :date, :date, default: @selected_day %>
  <br>
  <%= submit_tag("Show") %>
<% end %>


<%= link_to 'New Measurement', new_measurement_path %>
<button class="btn btn-default" type="submit">Button</button>
</div>
<%= javascript_include_tag "banner" %>
<script>
  
  var stage = new swiffy.Stage(document.getElementById('drop_container'),
      swiffy_drop, {  });
  stage.start();
</script>